@font-face {
    font-family: "Tahoma";
    src: url("path/to/tahoma.woff2") format("woff2"),
         url("path/to/tahoma.woff") format("woff");
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    color: #1a237e;
}

.dashboard {
    max-width: 1200px;
    margin: auto auto;
    padding: 0 20px;
}

.overall-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.info-item {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-item h3 {
    font-size: 1.2em;
    color: #555;
    margin-top: 0;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

.chart-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}



@media (min-width: 768px) {
    #portfolioChart {
        max-height: 350px;
    }
}

.stock-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.stock-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    .stock-item:hover {
        transform: translateY(-5px);
    }
}

.stock-item h3 {
    color: #1a237e;
    margin-top: 0;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.stock-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profit {
    color: #f44336;
}

.loss {
    color: #4caf50;
}

@media (max-width: 768px) {
    .overall-info {
        flex-direction: column;
    }
    
    .info-item {
        margin-bottom: 20px;
    }
}

footer {
    color: #929292;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}