body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.overall-info, .stock-list {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.overall-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info-item {
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 20px;
    text-align: center;
}
.info-item h3 {
    margin: 0;
    color: #333;
}
.info-item p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
.stock-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stock-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}
.stock-item h3 {
    margin-top: 0;
    color: #333;
}
.stock-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.profit {
    color: red;
}
.loss {
    color: green;
}