.dark-medium-contrast {
  --md-sys-color-primary: rgb(204 202 202);
  --md-sys-color-surface-tint: rgb(200 198 198);
  --md-sys-color-on-primary: rgb(22 22 22);
  --md-sys-color-primary-container: rgb(146 144 144);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(205 202 201);
  --md-sys-color-on-secondary: rgb(22 22 22);
  --md-sys-color-secondary-container: rgb(146 144 144);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(206 202 201);
  --md-sys-color-on-tertiary: rgb(23 22 22);
  --md-sys-color-tertiary-container: rgb(148 144 144);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 19 19);
  --md-sys-color-on-background: rgb(229 226 225);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(254 250 249);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(200 203 204);
  --md-sys-color-outline: rgb(160 163 164);
  --md-sys-color-outline-variant: rgb(128 132 132);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(43 42 42);
  --md-sys-color-inverse-primary: rgb(72 72 72);
  --md-sys-color-primary-fixed: rgb(228 226 225);
  --md-sys-color-on-primary-fixed: rgb(17 17 17);
  --md-sys-color-primary-fixed-dim: rgb(200 198 198);
  --md-sys-color-on-primary-fixed-variant: rgb(54 54 54);
  --md-sys-color-secondary-fixed: rgb(229 226 225);
  --md-sys-color-on-secondary-fixed: rgb(17 17 17);
  --md-sys-color-secondary-fixed-dim: rgb(201 198 197);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 54 54);
  --md-sys-color-tertiary-fixed: rgb(230 225 225);
  --md-sys-color-on-tertiary-fixed: rgb(18 17 17);
  --md-sys-color-tertiary-fixed-dim: rgb(202 197 197);
  --md-sys-color-on-tertiary-fixed-variant: rgb(56 54 54);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(43 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
}
