html {
	font-family: sans-serif;
}
body{
	margin: 0px;
	color: white;
	background-color: rgb(50,50,50)
}

@keyframes example5 {
	0% {border: 2px solid rgb(50,50,50)}
	80% {border: 2px solid rgb(50,50,50)}
	100% {border: 2px solid rgb(100,100,100)}
}
table {
	font-family: "Consolas", monospace;
	border-collapse: collapse;
	border: 2px solid rgb(100,100,100);
	letter-spacing: 1px;
	font-size: 20px;
	width: 100%;
	animation-name: example5;
	animation-duration: 1.25s;
}

@keyframes example4 {
	0% {border: 1px solid rgb(50,50,50)}
	80% {border: 1px solid rgb(50,50,50)}
	100% {border: 1px solid rgb(100,100,100)}
}
td, th {
	border: 1px solid rgb(100,100,100);
	animation-name: example4;
	animation-duration: 1.25s;
}

@keyframes example3A {
	0% {background-color: rgb(50,50,50); color: rgb(50,50,50); font-size: 0px; border: 1px solid rgb(50,50,50)}
	80% {background-color: rgb(50,50,50); color: rgb(50,50,50); font-size: 0px; border: 1px solid rgb(50,50,50)}
	100% {background-color: rgb(125,125,125); color: white; font-size: 20px; border: 1px solid rgb(125,125,125)}
}
@keyframes example3B {
	0% {background-color: rgb(50,50,50); color: rgb(50,50,50); font-size: 0px; border: 1px solid rgb(50,50,50)}
	80% {background-color: rgb(50,50,50); color: rgb(50,50,50); font-size: 0px; border: 1px solid rgb(50,50,50)}
	100% {background-color: rgb(150,150,150); color: white; font-size: 20px; border: 1px solid rgb(150,150,150)}
}

td:nth-child(odd) {
	width: 10%;
	padding: 20px;
	text-align: center;
	color: white;
	background-color: rgb(125,125,125);
	animation-name: example3A;
	animation-duration: 1.25s;
}

td:nth-child(even) {
	width: 40%;
	padding: 20px;
	text-align: center;
	color: white;
	background-color: rgb(150,150,150);
	animation-name: example3B;
	animation-duration: 1.25s;
}

caption {
	padding: 10px;
}

@keyframes example1 {
	0% {background-color: rgb(75,75,75); left: 0px; top: 0px; height: 35px; width: 35px; padding: 20px; font-size: 0px}
	25% {background-color: rgb(75,75,75); left: 200px; top: 0px; height: 35px; width: 35px; padding: 20px; font-size: 0px}
	50% {background-color: rgb(75,75,75); left: 200px; top: 200px; height: 35px; width: 35px; padding: 20px; font-size: 0px}
	75% {background-color: rgb(75,75,75); left: 0px; top: 200px; height: 35px; width: 35px; padding: 20px; font-size: 0px}
	100% {background-color: rgb(75,75,75); left:0px; top:0px; height: 100%; width: 100%; padding-top: 20px; padding-bottom: 20px; font-size: 35px}
}
header {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 35px;
	background-color: rgb(75,75,75);
	position: relative;
	animation-name: example1;
	animation-duration: 1.25s;
}

@keyframes example2 {
	0% {background-color: rgb(50,50,50); color: rgb(50,50,50)}
	80% {background-color: rgb(50,50,50); color: rgb(50,50,50)}
	100% {background-color: rgb(75,75,75); color: white}
}
footer {
	text-align: center;
	font-size: 25px;
	color: white;
	padding: 10px;
	background-color: rgb(75,75,75);
	animation-name: example2;
	animation-duration: 1.25s;
}

a {
	color: white;
	text-decoration: none;
}